#box {
    height: 100vh;
}

#model-box {
    display: block;
    height: 90vh;
    width: 100vw; 
    margin-top: 50px;
}

#model-frame {
    display: block;
    height: 100%;
    width: 100%; 
}

#model {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
    border: none;
    z-index: 0;
}