#box {
    height: 100vh;
}

#model {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: auto;
    border: none;
}

#color-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 100%;
}
input[type="color" i] {
    align-self: flex-end;
    width: 150px;
    height: 35px;
    border: none;
}
